@font-face {
  font-family: 'GTAmerica-Bold';
  src:
    url('./assets/GTAmerica-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/GTAmerica-Bold.otf')  format('opentype'),
    url('./assets/GTAmerica-Bold.woff') format('woff'),
    url('./assets/GTAmerica-Bold.ttf')  format('truetype'),
    url('./assets/GTAmerica-Bold.svg#GTAmerica-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src:
    url('./assets/ApercuPro.eot?#iefix') format('embedded-opentype'),
    url('./assets/ApercuPro.otf')  format('opentype'),
    url('./assets/ApercuPro.woff') format('woff'),
    url('./assets/ApercuPro.ttf')  format('truetype'),
    url('./assets/ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ApercuPro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'GTAmerica-Bold';
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: .6rem !important;
}

.navbar-light .navbar-toggler {
  position: absolute;
  right: 0;
}

.navbar-collapse {
  position: relative;
  right: 6px;
  width: 210px;
  top: 133px;
  text-align: right;
}

a.nav-link {
  font-size: 14px;
}

.app-sidebar {
  background: url('./assets/map.svg');
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-size: 300px;
  background-repeat: repeat-y;
  border-right: 2px solid #F7F9FA;
}

.app-header {
  display: flex;
  border-bottom: 2px solid #F7F9FA;
  background: url('./assets/map.svg');
  background-repeat: repeat-x;
  background-size: 300px;
  min-height: 30px;
  justify-content: space-between;
  padding: 8px 16px;
  max-height: 48px;
  align-items: center;

  @media (min-width: 768px) {
    padding: 8px 46px;
  }
}

.app-header-half {
  display: flex;
  align-items: center;

  &-container {
    display: flex;
    width: 100%;
    background-size: 300px;
    position: relative;
    flex: 1;
    align-items: center;
    padding: 12px 42px;
    border-left: 2px solid #F7F9FA;
    height: 42px;
  }

  &-pretitle {
    font-size: 14px;
    color: #9AABB8;
    margin: 0 2px 0 0;
    line-height: 1;
  }
}

@media only screen and (max-width: 600px) {
  .app-header-half-container:nth-child(2n){
    display: none;
  }
  .app-header-half-container {
    padding: 12px 12px;
  }
}

.app-header-half-title {
  font-size: 14px;
  line-height: 1;
}

.app-header-half-subtitle {
  font-size: 11px;
  margin: 7px 0 0 4px;
  line-height: 1;
}

.app-header-half-image {
  width: 34px;
  margin-right: 6px;
  height: 34px;
  display: flex;
  align-items: center;
  border-radius: 32px;
  overflow: hidden;
  border: 2px solid #fff;
}
.app-header-half-image .card-img {
  width: 150%;
}

/* PEOPLE */
.peoples {
  align-items: center;
}

.people-image {
  margin-left: -8px;
  width: 35px;
  height: 34px;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.people-image img {
  width: 150%;
}

.card-location-sm .card-body {
  display: flex;
}

.masthead {
  margin: 100px 0;
}

.masthead img {
  max-width: 90%;
}

.navbar {
  padding: 0 !important;
}

.navbar-light .navbar-toggler {
  border: none !important;
}

@media only screen and (min-width: 600px) {
  .container-fluid {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }
}
@media only screen and (min-width: 601px) {
  .col-md-4.d-flex.align-items-stretch {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .col-md-4.d-flex.align-items-stretch {
    padding: 0 !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #304351 !important;
}

.card-deck .card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 40px !important;
}

.card {
  border: 1px solid #EEF2F5 !important;
}

.card-location {
  margin-bottom: 24px !important;
}

.card-location-title {
  margin: 16px 0 20px !important;
  font-size: 26px;
  display: block;
  line-height: 1;
}

.card-location-place-type {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.card-location-place-type[content="Major City"] {
  background-color: #2d7ff9 !important;
  color: #fff !important;
}

.card-location-place-type[content="Big City"] {
  background-color: #9cc7ff !important;
}

.card-location-place-type[content="Small City"] {
  background-color: #9cc7ff !important;
}

.card-location-place-type[content="Mountain Town"] {
  background-color: #d1f7c4 !important;
}

.card-location-place-type[content="Town"] {
  background-color: #ede2fe !important;
}

.card-location-place-type[content="Day trip"] {
  background-color: #fee2d5 !important;
}

.badge {
  border-radius: 2px !important;
}

.image-cover {
  overflow: hidden;
  height: 218px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 3px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .image-cover {
    height: 180px;
  }
}

.image-cover-packing-list {
  height: 150px;
  overflow: hidden;
}

.card-location-days {
  font-family: 'ApercuPro';
  font-size: 13px;
  margin-left: 8px;
}

.card-location p {
  margin-bottom: .5rem;
}

.card-location .card-text p {
  margin-bottom: 0;
}

.card-footer {
  background: none !important;
  border-top: none !important;
}

.card-location-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-location-country {
  font-family: 'GTAmerica-Bold';
  font-size: 18px;
  color: #D8E0E6;
  position: absolute;
  top: -18px;
  left: 36px;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .card-location-country {
    left: 23px;
  }
}

.card-location-sm .card-body {
  padding: 12px !important;
}

.card-location-sm .image-cover {
  height: 80px;
  max-width: 80px;
  margin-right: 20px;
}

.card-location-sm .card-location-title {
  font-size: 16px;
  margin: 10px 0 0 !important;
}

 .card-location-country-sm {
  font-family: 'GTAmerica-Bold';
  font-size: 12px;
  top: -13px;
  left: 14px;
}

.card-footer {
  background: #F7F9FA !important;
}

.loading {
  width: 100%;
  height: 100vh;
}

.card-brand {
  margin: -12px 0 -16px;
  display: block;
}

iframe {
  width: 100%;
  height: 90vh;
  border: none;
}

.footer-img-container {
  background: url('./assets/map.svg');
  height: 30vh;
  background-repeat: repeat-x;
  width: 100%;
  margin-top: 60px;
  background-size: 300px;
  position: relative;
}

.footer-img-container:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, .7) 20%,
    rgba(255, 255, 255, .5) 30%,
    rgba(255, 255, 255, .3) 40%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%);
}

.text-muted {
  opacity: 0.7 !important;
}

/* JOURNAL POST */
.journal {
  background: url('./assets/map.svg');
  background-repeat: repeat;
  background-size: 300px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0
}

.journal-post {
  margin-bottom: 100px;

  &-caption {
    margin: 20px 0 0 0;
    color: #6D818F;
    font-size: 14px;
  }

  &[content="Post"] {
    .journal-post-title {

      h1 {
        margin: 24px 0 16px 0;
        font-size: 24px !important;

        @media (min-width: 992px) {
          margin: 0 0 20px 0;
          line-height: 1 !important;
        }
      }

    }
  }


  &[content="Quote"] {
    .col-md-8 {
      display: none;
    }

    .journal-post-image {
      display: none;
    }

    .journal-post-title {
      width: 100%;
      margin-left: 2% !important;
      max-width: 100% !important;
      flex: 100% !important;
      margin: 0;
      position: relative;
      padding: 20px;

      @media (min-width: 992px) {
        // padding: 100px;
      }

      h1 {
        font-size: 24px !important;
        line-height: 1.2 !important;
        position: relative;
        z-index: 1;
        margin: 0;
        font-family: 'ApercuPro';

        @media (min-width: 992px) {
          font-size: 24px !important;
        }
      }

      &:before {
        content: '"';
        font-size: 78px;
        color: #D8E0E6;
        position: absolute;
        left: -10px;
        top: -20px;
        z-index: -1;
        font-family: 'ApercuPro';

        @media (min-width: 992px) {
          font-size: 108px;
          left: -10px;
          top: -40px;
        }
      }
    }
  }

  &[content="Video"] {
  }
}

ol {
  padding: 0 !important;
  list-style: none;
  counter-reset: my-awesome-counter;

  li {
    counter-increment: my-awesome-counter;

    &::before {
      font-family: 'GTAmerica-Bold';
      font-size: 18px;
      color: #EEF2F5;
      position: absolute;
      content: counter(my-awesome-counter);
      left: 0;
      top: -18px;
      text-align: right;
      width: 33px;
    }
  }
}

.mt-10 {
  margin-top: 140px;
}
